<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [50]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [49]:
print("Data Types:\n",df.dtypes)
print("Data Counts:\n",df.count())
print("Missing Value Counts:\n",df.isnull().sum())

Data Types:
 ResponseId                                                        int64
MainBranch                                                       object
Age                                                              object
RemoteWork                                                       object
Check                                                            object
                                                                  ...
Emp_Student, full-time;Student, part-time;Employed, part-time      bool
Emp_Student, full-time;Student, part-time;Retired                  bool
Emp_Student, part-time                                             bool
Emp_Student, part-time;Employed, part-time                         bool
Emp_Student, part-time;Retired                                     bool
Length: 223, dtype: object
Data Counts:
 ResponseId                                                       65437
MainBranch                                                       65437
Age                                                              65437
RemoteWork                                                       54806
Check                                                            65437
                                                                 ...
Emp_Student, full-time;Student, part-time;Employed, part-time    65437
Emp_Student, full-time;Student, part-time;Retired                65437
Emp_Student, part-time                                           65437
Emp_Student, part-time;Employed, part-time                       65437
Emp_Student, part-time;Retired                                   65437
Length: 223, dtype: int64
Missing Value Counts:
 ResponseId                                                           0
MainBranch                                                           0
Age                                                                  0
RemoteWork                                                       10631
Check                                                                0
                                                                 ...
Emp_Student, full-time;Student, part-time;Employed, part-time        0
Emp_Student, full-time;Student, part-time;Retired                    0
Emp_Student, part-time                                               0
Emp_Student, part-time;Employed, part-time                           0
Emp_Student, part-time;Retired                                       0
Length: 223, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [9]:
numerical_df = df.select_dtypes(include=['int64', 'float64'])
print("Basic Statistics for Numerical Columns:\n", numerical_df.describe())

Basic Statistics for Numerical Columns:
          ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [34]:
# Entries with leading or trailing whitespace
df['Country'] = df['Country'].str.strip()

print("Country Counts before removing NA:\n",df['Country'].count())
# Entries that are clearly not countries
df = df[df['Country'] != 'NA ']

print("Country Counts after removing NA:\n",df['Country'].count())

Country Counts before removing NA:
 54699
Country Counts after removing NA:
 54699

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [37]:
# prompt: Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format

country_mapping = {
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
}
df['Country'] = df['Country'].replace(country_mapping)

edlevel_mapping = {
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master’s degree',
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor’s degree',
    'Some college/university study without earning a degree': 'Study without degree',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'High school',
    'Associate degree (A.A., A.S., etc.)': 'Associate degree',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Professional degree',
    'Other doctoral degree (Ph.D., Ed.D., etc.)': 'Doctoral degree',
    'Primary/elementary school': 'Primary school',
    'Something else': 'Other',
    'NA': 'Not Applicable'
}
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

print("Value Counts for Country after standardization:\n", df['Country'].value_counts())
print("\nValue Counts for EdLevel after standardization:\n", df['EdLevel'].value_counts())

Value Counts for Country after standardization:
 Country
United States of America              11095
Germany                                4947
United Kingdom                         3224
Ukraine                                2672
France                                 2110
                                      ...
Micronesia, Federated States of...        1
Nauru                                     1
Chad                                      1
Djibouti                                  1
Solomon Islands                           1
Name: count, Length: 184, dtype: int64

Value Counts for EdLevel after standardization:
 EdLevel
Bachelor’s degree       21474
Master’s degree         14258
Study without degree     7268
High school              5205
Professional degree      2840
Associate degree         1734
Primary school           1073
Other                     847
Name: count, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [51]:
df_encoded = pd.get_dummies(df, columns=['Employment'], prefix='Employment')
print(df_encoded.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [52]:
missing_counts = df.isnull().sum()
print("Columns with missing values:\n", missing_counts[missing_counts > 0])

# Identify columns with the highest number of missing values
highest_missing_columns = missing_counts.nlargest(10) # Print the top 10 columns with most missing values

print("\nColumns with the highest number of missing values:\n", highest_missing_columns)

Columns with missing values:
 RemoteWork             10631
CodingActivities       10971
EdLevel                 4653
LearnCode               4949
LearnCodeOnline        16200
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 109, dtype: int64

Columns with the highest number of missing values:
 AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [53]:
mean_ConvertedCompYearly = df['ConvertedCompYearly'].mean()
df['ConvertedCompYearly'].fillna(mean_ConvertedCompYearly, inplace=True)

print("Missing values after imputing 'ConvertedCompYearly':\n", df['ConvertedCompYearly'].isnull().sum())

Missing values after imputing 'ConvertedCompYearly':
 0

/tmp/ipython-input-53-644992170.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(mean_ConvertedCompYearly, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [54]:
most_frequent_remotework = df['RemoteWork'].mode()[0]
df['RemoteWork'].fillna(most_frequent_remotework, inplace=True)

print("Missing values after imputing 'RemoteWork':\n", df['RemoteWork'].isnull().sum())

Missing values after imputing 'RemoteWork':
 0

/tmp/ipython-input-54-2621072542.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_frequent_remotework, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [55]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max scaling to 'ConvertedCompYearly'
df['ConvertedCompYearly_scaled'] = scaler.fit_transform(df[['ConvertedCompYearly']])

# Display the first few rows to see the new scaled column
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_scaled']].head())

# Display the min and max of the scaled column
print("\nMin of scaled 'ConvertedCompYearly':", df['ConvertedCompYearly_scaled'].min())
print("Max of scaled 'ConvertedCompYearly':", df['ConvertedCompYearly_scaled'].max())

   ConvertedCompYearly  ConvertedCompYearly_scaled
0         86155.287263                      0.0053
1         86155.287263                      0.0053
2         86155.287263                      0.0053
3         86155.287263                      0.0053
4         86155.287263                      0.0053

Min of scaled 'ConvertedCompYearly': 0.0
Max of scaled 'ConvertedCompYearly': 1.0

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [57]:
import numpy as np

# Apply log transformation to 'ConvertedCompYearly'
# Add a small constant to handle zero values if necessary, although ConvertedCompYearly is typically > 0
df['ConvertedCompYearly_log'] = np.log1p(df['ConvertedCompYearly']) # Using log1p(x) = log(1+x) for safety

# Display the first few rows to see the new log-transformed column
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_log']].head())

# Display the skewness before and after transformation
print("\nSkewness before log transformation:", df['ConvertedCompYearly'].skew())
print("Skewness after log transformation:", df['ConvertedCompYearly_log'].skew())

   ConvertedCompYearly  ConvertedCompYearly_log
0         86155.287263                11.363918
1         86155.287263                11.363918
2         86155.287263                11.363918
3         86155.287263                11.363918
4         86155.287263                11.363918

Skewness before log transformation: 88.42916521218113
Skewness after log transformation: -4.394071138043888

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [58]:
# Convert 'YearsCodePro' to numeric, coercing errors to NaN
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Define the bins and labels for experience levels
bins = [0, 5, 15, np.inf]
labels = ['Entry-Level', 'Mid-Level', 'Senior']

# Create the 'ExperienceLevel' column
df['ExperienceLevel'] = pd.cut(df['YearsCodePro'], bins=bins, labels=labels, right=False)

# Display the value counts of the new 'ExperienceLevel' column
print("Value counts for 'ExperienceLevel':\n", df['ExperienceLevel'].value_counts())

# Display the first few rows with the new column
print(df[['YearsCodePro', 'ExperienceLevel']].head())

Value counts for 'ExperienceLevel':
 ExperienceLevel
Mid-Level      21477
Entry-Level    14115
Senior         13112
Name: count, dtype: int64
   YearsCodePro ExperienceLevel
0           NaN             NaN
1          17.0          Senior
2          27.0          Senior
3           NaN             NaN
4           NaN             NaN

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.